{% extends "base.html" %}

{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="card shadow-sm" style="max-width: 800px;">
    <div class="card-body">

      <h1 class="card-title mb-4">
        {{ object|yesno:"Update,Publish" }} newspaper
      </h1>

      <form action="" method="post">
        {% csrf_token %}

        {{ form|crispy }}

        <div class="mt-4">
          <button type="submit" class="btn btn-primary">
            Submit
          </button>

          <a href="javascript:history.back()"
           class="btn btn-secondary ms-2">
            Cancel
          </a>
        </div>
      </form>

    </div>
  </div>
{% endblock %}