{% extends "base.html" %}
{% block content %}
  <div class="card mb-4">
    <div class="card-header bg-primary text-white">
      <h3>
        {{ newspaper.title }}
        <a href="{% url 'agency:newspaper-delete' pk=newspaper.id %}" class="btn btn-danger float-end ms-2">Delete</a>
        <a href="{% url 'agency:newspaper-update' pk=newspaper.id %}" class="btn btn-warning float-end">Update</a>
      </h3>
    </div>

    <div class="card-body">
      <p class="card-text">{{ newspaper.content }}</p>
    </div>
  </div>
  <hr>
  <div class="card">
    <div class="card-header">Redactors</div>
    <ul class="list-group list-group-flush">
      {% for redactor in newspaper.publishers.all %}
        <li class="list-group-item">
          {{ redactor.username }} ({{ redactor.first_name }} {{ redactor.last_name }})
        </li>
      {% endfor %}
    </ul>
  </div>
  <small class="text-muted">Published: {{ newspaper.date }}</small>
{% endblock %}