DJANGO_SECRET_KEY=[SECRET_KEY]
DEBUG=False
#<sampel for deploying server>
POSTGRES_DB=<>
POSTGRES_DB_PORT=<>
POSTGRES_USER=<>
POSTGRES_PASSWORD=<password>
POSTGRES_HOST=<>
RENDER_EXTERNAL_HOSTNAME=<domain>